body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/*especifico dos characteres*/

.roxo {
    background-color: #9c27b0;

}
.hunoblack {
    color: black;
}

.huno {
    font-family: Waltograph, "Helvetica Neue", sans-serif;
    font-size: 200%;
}


button {
    background-color: transparent;
    border: none;
}

button:visited, button:active {
    border: none;
}

/*especifico dos characteres*/




/*footer*/

.hpreto {
    font-family: Waltograph, "Helvetica Neue", sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
}

.fogo {
    margin-bottom: 30px;
    margin-top: 30px;
}

.spana {
    font-size: 25px;
    font-family: "Bodoni MT", sans-serif;
}

footer section.ugh {
    height: 50px;
}

span.card-text {
    font-size: 14px;
    font-weight: normal;
}

div.text-white {
    font-size: 1.10rem;
}

/*footer*/




/*Awards*/

.awards {
    background-image: url("fundos/fdsds.jpg");
    background-size: 100%;

}


.tentei {
    background-image: url("imagensparasite/single-spotlight-room-background_For-web-sitecd.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}



.para {
    font-size: 1.15rem;
    color: white;
    margin-top: 100px;
}


.secao {
    background-image: url("fundos/SZYMiiD-disney-hd-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

.soca {
    background-image: url("fundos/mickey_1234.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
}


.margina {
    padding: 0 0 300px 0;
}
.rosa {
    font-size: 2.3rem;
}

/*Awards*/




/*nav*/


a {
    text-decoration: none;
    color: white;
    font-size: 1.00rem;
    font-weight: bold;
    margin-right: 10px;
}

.mudala:hover {
    text-decoration: none;
    color: gold !important;
}


nav {
    background-color: rgba(255,255,255,0.1);
    height: 12%;
}
/*nav*/


/*personality*/

.Who_was_disney{
    width:100%;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

.disney_diffident{
    font-size:24px;
    font-family:Consolas, sans-serif;
    background-image: url("imagens-sem-fundo-para-website/aspas.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top:130px;
}

.first_sec{
    padding-top:20px;
}

.fundo {
    background-image: url("fundos/surface_pattern_light_symmetry_50651_3840x2160.jpg");
    background-size: 100%;
}
.corrosa {
    color: rgb(112,66,66);
    background-color: black;
}

/*personality*/
















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.duck { width: 50%;
    height: 50%;
    text-align: center;}
    .secao3 p {
        font-size: 0.8rem;
    }
    .ramo {
        font-size: 0.9rem;
    }
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .duck { width: auto;
        height: auto;
        text-align: center;
    }
    .secao3 p {
        font-size: 0.7rem;
    }
    .ramo {
        font-size: 0.9rem;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .duck { width: 100%;
        height: 100%;
    }
    .secao3 p {
        font-size: 1rem;
    }
    .textomeio {
        font-size: 0.6rem;
    }
    .roma {
        font-size: 1.8rem;
    }
    .ramo {
        font-size: 1rem;
    }
    .cartao {

    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .secao3 p {
        font-size: 1.5rem;
    }
    .textomeio {
        font-size: 0.8rem;
    }
    .ramo {
        font-size: 1.5rem;
    }


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .textomeio {
        font-size: 1.4rem;
    }
    .secao3 p {
        font-size: 2.2rem;
    }
    .ramo {
        font-size: 2rem;
    }
    .huno, .hunoblack {
        font-size: 60px;
    }
}

}





