body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}

main {
    margin: 0;

}
footer {
    font-family: Waltograph, "Helvetica Neue", sans-serif;
    background: url(fundos/34494748_1126388907502074_5103548606627971072_n.jpg);
}
nav {
    z-index: 100;
    transition: background-color 1s ease 0s;
    background-color: rgba(255,255,255,0.1);
    height: 12%;
}
nav a {
    font-size: 3rem;
}


.secao1 p {
    font-size: 1rem;
}

.hpreto {
    font-family: Waltograph, "Helvetica Neue", sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
}

/*parallax*/

.parallax-window {
     min-height: 65vh;
     background: transparent;
 }

.parallax-window2 {
    min-height: 70vh;
    background: transparent;
}

/*parallax*/

.texto {
    font-size: 28px;
    border-left: 3px black solid;
}

.spana {
    font-size: 25px;
    font-family: "Bodoni MT", sans-serif;
}

.mudala:hover {
    text-decoration: none;
    color: gold !important;
}


footer section.ugh {
    height: 50px;
}
div.text-white {
    font-size: 1.10rem;
}










/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    nav a { font-size: 10px }
    nav img { display: none;
    }
    nav { height: 100px;
}
    .secao2 p {
        font-size: 0.5rem;
    }
    .secao2 img {
        text-align: center;
        max-width: 200%;
    }
    .parallax-window {
        min-height: 15vh;
        background: transparent;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    nav a { font-size: 10px }
    nav { height: 100px;
    }
    .secao2 p {
        font-size: 1rem;
    }
    .secao2 img {
        text-align: center;
    }
    .parallax-window {
        min-height: 15vh;
        background: transparent;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .fundobola {
    }

    .secao2 img {
        text-align: center;
        max-width: 50%;
        max-height: 50%;
    }
    .secao2 p {
        font-size: 1.2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .secao2 img {
        text-align: center;
    }
    nav a {
        padding: 0 20px;
    }
    .secao2 p {
        font-size: 0.8rem;
    }
}

/* Extra large devices (1200 e superior) */
@media only screen and (min-width: 1200px) {
    .secao2 p {
        font-size: 1.8rem;
    }
}